*{margin: 0; padding: 0;}
.window{
  width: 480px;
  height: 320px;
  overflow: hidden;
  margin: 20px auto;
}
.images{
  display: flex;
  transition: all 0.5s;
}
.buttons{
  text-align: center;
  margin-top: 12px;
}
.controls{
  text-align:center;
}
#previous{
  margin-right: 10px;
}